// utilities - MIXINS

@mixin transform($transform) {
    -webkit-transform: ($transform);
       -moz-transform: ($transform);
        -ms-transform: ($transform);
         -o-transform: ($transform);
            transform: ($transform);
}

@mixin transformOrigin($transformOrigin){
    -webkit-transform-origin: $transformOrigin;
       -moz-transform-origin: $transformOrigin;
        -ms-transform-origin: $transformOrigin;
         -o-transform-origin: $transformOrigin;
            transform-origin: $transformOrigin;
}

@mixin animation($animation) {
    -webkit-animation: ($animation);
       -moz-animation: ($animation);
    	-ms-animation: ($animation);
    	 -o-animation: ($animation);
    		animation: ($animation);
}

@mixin animationTimingFunction($animationTimingFunction) {
    -webkit-animation-timing-function: ($animationTimingFunction);
       -moz-animation-timing-function: ($animationTimingFunction);
    	-ms-animation-timing-function: ($animationTimingFunction);
    	 -o-animation-timing-function: ($animationTimingFunction);
    		animation-timing-function: ($animationTimingFunction);
}

@mixin keyframes($animate) {
    @-webkit-keyframes #{$animate} {
        @content;
    }
    @-moz-keyframes #{$animate} {
        @content;
    }
    @-o-keyframes #{$animate} {
        @content;
    }
    @keyframes #{$animate} {
        @content;
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
}

// Output standard non-prefixed declaration
#{$property}: $value;
}