.btn {
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: none;
	border-radius: 32.5px;
	line-height: 1;

	// COLORS
	&-primary {
		background-color: $colorBrandDefault;
		border: none;
		&:hover {
			background-color: darken($colorBrandDefault,5%);
		border: none;
		}
	}
	&-link {
		color: $colorBrandDefault;
		padding: 0 !important;
	}
	&-light {
		background-color: #fff;
		color: $colorBrandDefault;
		&:hover {
			background-color: $colorBrandDefault;
			color: #fff;
		}
	}

	// SIZES
	&-sm {
		font-size: 15px;
		padding: 12px 26px;
		img {
			width: 20px;
		}
	}
	&-md {
		padding: 24px 53px;
		text-transform: uppercase;

	}
	&-lg {
		padding: 22px 93px;
		font-size: 20px;
		text-transform: uppercase;
	}

	&_recto {
		border-radius: 0;
		width: auto;
	}
}

