
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
 .radial-bar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 238px;
  height: 238px;
  font-size: 48px;
}
.radial-bar:after,
.radial-bar > img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  color: $red;
  font-family: $font-family-bold;
}
.radial-bar:after {
  content: attr(data-label);
  background-color: #fff;
  z-index: 55;
}
.radial-bar > img {
  z-index: 102;
}
.radial-bar:after,
.radial-bar > img {
  width: 178px;
  height: 178px;
  margin-left: 30px;
  margin-top: 30px;
  line-height: 185px;
}

.radial-bar.radial-bar-0 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(90deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-5 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(108deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-10 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(126deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-15 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(144deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-20 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(162deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-25 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(180deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-30 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(198deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-35 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(216deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-40 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(234deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-45 {
  background-image: linear-gradient(90deg, $gray-light 50%, transparent 50%, transparent), linear-gradient(252deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-50 {
  background-image: linear-gradient(270deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-55 {
  background-image: linear-gradient(288deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-60 {
  background-image: linear-gradient(306deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-65 {
  background-image: linear-gradient(324deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-70 {
  background-image: linear-gradient(342deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-75 {
  background-image: linear-gradient(360deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-80 {
  background-image: linear-gradient(378deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-85 {
  background-image: linear-gradient(396deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-90 {
  background-image: linear-gradient(414deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-95 {
  background-image: linear-gradient(432deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}
.radial-bar.radial-bar-100 {
  background-image: linear-gradient(450deg, $red 50%, transparent 50%, transparent), linear-gradient(270deg, $red 50%, $gray-light 50%, $gray-light);
}

.radial-bar {
  background-clip: content-box;
}