.popover {
	border: none;
	padding: 16px;
	box-shadow: $box-shadow;
	.arrow:before {
		border-top: none;
	}
	.popover-header {
		font-size: 14px;
		color: $blue;
		border: none;
		background-color: white;
		padding: 0 0 10px 0;
	}
	.popover-body {
		font-size: 12px;
		color: $gray;
		padding: 0px;
	}
}

