#dataTable_wrapper {
  .row:first-child {
    display: none;
  }
  & > .row:nth-child(2) {
    .col-sm-12 {
      overflow-x: auto;
    }    
  }
  .row:last-child {
    justify-content: center;
    >div:first-child {
      display: none;
    }
  }
  .table {
    color: $gray;
    thead {
      th {
        border-top: none;
        border-bottom: solid 1px $gray-light;
        padding-bottom: 20px;
        margin-bottom: 10px;
      }
    }
    tbody {
      tr {
        &:first-child {
          td {
            padding-top: 20px;
          }
        }
        td {
          border: none;
          padding: 10px;
          vertical-align: middle;
          &:first-child {
            min-width: 180px;
          }
        }
      }
      img {
        width: 40px;
        & ~ span {
          font-size: 14px;
          // margin-left: 30px;
          font-family: $font-family-medium;
        }
      }
    }
  }
}

.pagination {
  justify-content: center;
  .page-item {
    &.active a {
      color: #fff !important;
      background-color: $blue !important;
    }
    .page-link {
      color: $blue !important;
      background-color: rgba($blue, 0.1) !important;
      font-family: $font-family-medium;
      font-size: 12px;
      border: none;
      margin-right: 7px;
      &:hover, &:focus, {
        color: #fff !important;
        background-color: $blue !important;
      }
    }
  }
}