@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-BoldItalic.woff2") format("woff2"), url("../fonts/GothamRounded-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../fonts/GothamRounded-BookItalic.woff2") format("woff2"), url("../fonts/GothamRounded-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-MediumItalic.woff2") format("woff2"), url("../fonts/GothamRounded-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-Medium.woff2") format("woff2"), url("../fonts/GothamRounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-Light.woff2") format("woff2"), url("../fonts/GothamRounded-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-Bold.woff2") format("woff2"), url("../fonts/GothamRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-LightItalic.woff2") format("woff2"), url("../fonts/GothamRounded-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../fonts/GothamRounded-Book.woff2") format("woff2"), url("../fonts/GothamRounded-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin-top: 73px;
  font-family: "Gotham Rounded";
}

a {
  color: #008e8c;
}
a:hover {
  text-decoration: none;
  color: #007573;
}

section {
  padding-top: 50px;
  padding-bottom: 100px;
}
section.cnt_info:hover {
  background-color: #008e8c !important;
}
section.cnt_info p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 29px 0;
  font-weight: 400;
}
section.cnt_info p i {
  margin-right: 8px;
  font-size: 23px;
}
section.cnt_info p i:before {
  vertical-align: middle;
}
section > .row {
  margin: 0px;
}
section.cnt_slider {
  padding-bottom: 0px;
}
section.cnt_slider .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
section.cnt_info, section.cnt_mapa, section.cnt_header {
  padding: 0;
}
section .destacado {
  margin-top: 30px;
  margin-bottom: 60px;
}
section .destacado .linea:before {
  content: "";
  position: relative;
  background: #008e8c;
  height: 1px;
  display: block;
  top: 10px;
}
section .destacado p {
  font-size: 19px;
  line-height: 1.5;
  color: #008e8c;
  margin-bottom: 5px;
}
section.cnt_mapa {
  height: 500px;
}
section.cnt_mapa .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
section.cnt_telefonos {
  background-image: linear-gradient(to right, #008e8c, #06bfaa);
  padding-bottom: 50px;
}
section.cnt_telefonos ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}
section.cnt_telefonos ul li:first-child {
  padding-right: 36px;
  list-style: none;
  border-right: 2px solid white;
}
section.cnt_telefonos ul li:last-child {
  padding-left: 36px;
  list-style: none;
}
section.cnt_telefonos h6 {
  margin-bottom: 60px;
}
section[class*=cnt_header] {
  margin-top: 120px;
  margin-bottom: 70px;
  width: 100%;
  background-color: #34beb9 !important;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  padding: 0;
}
section[class*=cnt_header] [class*=col] {
  max-width: 530px !important;
  display: inline-block;
  background: rgba(255, 255, 255, 0.95);
  max-width: 50%;
  padding: 50px;
  position: relative;
  top: 50px;
  border-bottom: 5px solid rgba(0, 142, 140, 0.4);
  z-index: 1;
  -webkit-box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
}
section[class*=cnt_header] h1 {
  color: #008e8c;
  margin-bottom: 22px;
}
section[class*=cnt_header] p {
  font-size: 20px;
}
section.cnt_header_quienes_somos {
  background-image: url(../images/quienes-somos-portada.jpg);
}
section.cnt_header_emergencias {
  background-image: url(../images/emergencias-portada.jpg);
}
section.cnt_header_planes {
  background-image: url(../images/planes-portada.jpg);
}
section.cnt_header_contacto {
  background-image: url(../images/contacto-portada.jpg);
}
section.cnt_header_cartilla {
  background-image: url(../images/cartilla-medica-portada.jpg);
}
section.cnt_header_blog {
  background-image: url(../images/blog-portada.jpg);
}
section.cnt_emergencias .destacado, section.cnt_quienes_somos .destacado, section.cnt_planes .destacado, section.cnt_blog_in .destacado {
  margin-bottom: 0px;
}
section.cnt_quienes_somos .destacado p, section.cnt_blog_in .destacado p {
  margin-bottom: 40px;
}
section.cnt_quienes_somos .destacado p:last-child, section.cnt_blog_in .destacado p:last-child {
  margin-bottom: 0px;
}
section.cnt_virtudes {
  padding-top: 0px;
}
section.cnt_virtudes .container-fluid div {
  background-image: url(../images/quienes-somos-compromiso.jpg);
  width: 100%;
  background-color: #34beb9 !important;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  height: 300px;
}
section.cnt_virtudes #compromiso p:last-child {
  margin-top: 90px;
}
section.cnt_planes .destacado, section.cnt_contacto .destacado {
  margin-top: 0px;
}
section.cnt_planes form, section.cnt_contacto form {
  margin-top: 60px;
}
section.cnt_planes form button, section.cnt_contacto form button {
  padding: 17px !important;
}
section.cnt_contacto h3 {
  color: #008e8c;
  margin-bottom: 5px;
}
section.cnt_contacto p {
  font-size: 20px;
  margin-bottom: 35px;
}
section.cnt_contacto p:last-child {
  margin-bottom: 0px;
}
section.cnt_contacto form {
  background-color: #fff;
  box-shadow: -5px 3px 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin-top: 0;
  margin-bottom: 29px;
}
section.cnt_contacto form textarea {
  height: 155px;
}
section.cnt_contacto form + p {
  font-weight: 400;
  color: rgba(89, 89, 89, 0.7);
  padding-left: 20px;
  font-size: 15px;
  text-align: center;
}
section.cnt_blog_in span {
  display: block;
  text-align: center;
  line-height: 1;
  color: #595959;
}
section.cnt_blog_in span:first-child {
  font-size: 64px;
  margin-top: 25px;
}
section.cnt_blog_in span:last-child {
  font-size: 36px;
}
section.cnt_blog_in .paginacion {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
section .destacado img {
  margin-bottom: 40px;
}

.bg-light {
  background-color: #f7f8f8;
}

.bg-primary {
  background-color: #008e8c !important;
}

.bg-dark {
  background-color: #181818;
}

.telefonos i {
  font-size: 44px;
}
.telefonos h5 {
  margin: 0;
  line-height: 1;
}
.telefonos span {
  font-size: 25px;
}

footer {
  padding-top: 80px;
  padding-bottom: 1px;
}
footer ul {
  list-style: none;
  padding-left: 0;
  font-weight: 200;
  margin-top: 40px;
}
footer ul li {
  margin-top: 30px;
}
footer ul li span {
  font-weight: 500;
}
footer h3 {
  text-transform: uppercase;
}
footer h3:after {
  content: "";
  position: relative;
  background: #008e8c;
  height: 3px;
  width: 32px;
  display: block;
  top: 14px;
}
footer .planes li {
  margin-top: 0;
}
footer .form-control {
  border: none;
}
footer hr {
  border-top: solid 1px #595959;
}
footer .derechos {
  text-align: center;
}
footer .derechos p {
  padding-top: 3px;
  color: #bdbcbc;
}

#clamp2, #clamp3, #clamp4 {
  margin-left: 70px;
  bottom: 50px;
  position: absolute;
  padding-right: 19px;
}

@media (max-width: 575.98px) {
  section {
    padding-bottom: 20px;
  }
  section .destacado .linea {
    margin-bottom: 50px;
  }
  section .destacado .linea:before {
    width: 20%;
  }
  section.cnt_telefonos ul {
    display: block;
  }
  section.cnt_telefonos ul li:first-child {
    padding-right: 0;
  }
  section.cnt_telefonos ul li:last-child {
    padding-left: 0;
    margin-top: 100px;
    border-top: 2px solid white;
    padding-top: 60px;
  }
  section.cnt_telefonos h6 {
    font-size: 40px;
  }
  section.cnt_slider .carousel > div {
    height: 260px;
  }
  section.cnt_slider .carousel > div .carousel-item {
    height: 100%;
  }
  section.cnt_slider .carousel > div .carousel-item img {
    height: 100%;
    width: auto !important;
  }
  section.cnt_blog_in span {
    text-align: left;
  }
  section.cnt_info p {
    font-size: 13px;
  }
  section.cnt_services .destacado a {
    float: none !important;
    margin-top: 20px;
  }

  footer {
    text-align: center;
  }
  footer h3:after {
    left: calc(50% - 16px);
  }
  footer div {
    margin-bottom: 40px;
  }

  [class*=cnt_header] {
    margin-top: 0px !important;
  }
  [class*=cnt_header] h1 {
    font-size: 30px;
  }
  [class*=cnt_header] [class*=col] {
    margin-left: auto;
    margin-right: auto;
  }
  [class*=cnt_header] .row {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  section.cnt_planes button {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  section.cnt_contacto .col-lg-5 {
    margin-bottom: 30px;
  }
  section.cnt_services .destacado div:nth-of-type(3), section.cnt_valor .destacado div:nth-of-type(3), section.cnt_blog .destacado div:nth-of-type(3) {
    text-align: center;
  }
  section.cnt_services .destacado div:nth-of-type(3) button, section.cnt_valor .destacado div:nth-of-type(3) button, section.cnt_blog .destacado div:nth-of-type(3) button {
    float: none !important;
    margin-top: 40px;
  }
}
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
  padding: 0;
}
.navbar .navbar-brand {
  padding-top: 24px;
  padding-bottom: 21px;
  margin-left: 24px;
  margin-right: 0;
}
.navbar .navbar-brand .logo {
  width: 132px;
  height: 27px;
  object-fit: contain;
}
.navbar .navbar-toggler {
  margin-right: 15px;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/icons/menu.svg);
  width: 23px;
  height: 19px;
}
.navbar .nav-item .nav-link {
  font-weight: 500;
  color: #008e8c;
  text-transform: uppercase;
  margin-left: 24px;
}
.navbar .nav-item .nav-link:after {
  content: "";
  position: relative;
  background: #e2e2e2;
  height: 18px;
  width: 1px;
  display: block;
  float: right;
  left: 20px;
}
.navbar .nav-item .nav-link:before {
  content: "";
  position: relative;
  background: transparent;
  height: 5px;
  width: 100%;
  display: block;
  top: -23px;
}
.navbar .nav-item .nav-link.active:before, .navbar .nav-item .nav-link:hover:before {
  background: #595959;
  transition: background 0.5s ease-out;
}
.navbar .nav-item:last-child .nav-link:after {
  content: none;
}
.navbar .nav-item:first-child .nav-link {
  margin-left: 13px;
}
.navbar button {
  margin-right: 24px;
}
.navbar button i {
  font-size: 13px;
  margin-left: 5px;
}

.top_bar {
  background-color: #595959;
  padding: 15px 0;
  padding-left: 24px;
}
.top_bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -25px;
  margin-bottom: 0px;
}
.top_bar ul li {
  flex: 0 0 auto;
  padding-right: 20px;
  font-size: 80%;
}
.top_bar ul li i {
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .navbar .nav-item .nav-link {
    margin-left: 0 !important;
  }
  .navbar .nav-item .nav-link:hover:before, .navbar .nav-item .nav-link.active:before {
    background: transparent;
  }

  .navbar-collapse {
    background-color: #f7f8f8;
    padding: 24px;
  }
}
@media (max-width: 575.98px) {
  .top_bar {
    display: none;
  }

  section.cnt_slider {
    padding-top: 0px;
  }
}
html {
  font-size: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.33;
  color: #595959;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #008e8c;
}

h5 {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  color: #595959;
}

h6 {
  font-weight: 500;
  font-size: 50px;
  text-align: center;
}

p {
  font-weight: 200;
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 25px;
  }
}
.carousel-caption {
  position: absolute;
  left: 52%;
  bottom: 0;
  z-index: 10;
  color: #fff;
  text-align: center;
  height: 100%;
  width: 48%;
  background-color: rgba(89, 89, 89, 0.5);
  text-align: left;
  padding-top: 7vw;
  padding-bottom: 2.2vw;
  padding-left: 10.5vw;
}
.carousel-caption h1 {
  line-height: 1.1;
}
.carousel-caption p {
  font-size: 1.33rem;
  line-height: 1.5;
  margin-top: 18px;
}
.carousel-caption button {
  margin-top: 38px;
}

@media (min-width: 992px) {
  .carousel-caption h1 {
    font-size: 3vw;
  }
  .carousel-caption p {
    font-size: 1.4vw;
  }
  .carousel-caption button {
    margin-top: 3vw;
  }
}
@media (max-width: 991.98px) {
  .carousel-caption {
    width: 100%;
    left: 0;
    text-align: center;
    padding-left: 0;
  }
  .carousel-caption h1 {
    display: none;
  }
  .carousel-caption p {
    text-align: center;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
  }
  .carousel-caption button {
    margin-top: 3vw;
  }
}
@media (max-width: 767.98px) {
  .carousel-item img {
    width: 130% !important;
  }
}
@media (max-width: 575.98px) {
  .carousel-caption p {
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 15px;
  }
}
.btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  border-radius: 32.5px;
  line-height: 1;
}
.btn-primary {
  background-color: #008e8c;
  border: none;
}
.btn-primary:hover {
  background-color: #007573;
  border: none;
}
.btn-link {
  color: #008e8c;
  padding: 0 !important;
}
.btn-light {
  background-color: #fff;
  color: #008e8c;
}
.btn-light:hover {
  background-color: #008e8c;
  color: #fff;
}
.btn-sm {
  font-size: 15px;
  padding: 12px 26px;
}
.btn-sm img {
  width: 20px;
}
.btn-md {
  padding: 24px 53px;
  text-transform: uppercase;
}
.btn-lg {
  padding: 22px 93px;
  font-size: 20px;
  text-transform: uppercase;
}
.btn_recto {
  border-radius: 0;
  width: auto;
}

.card {
  border: none;
}

.card_services {
  position: relative;
}
.card_services .card {
  margin-right: 10px;
  width: 214px;
  margin-bottom: 20px;
}
.card_services .card:last-child {
  margin-right: 0;
}
.card_services .card .card_header, .card_services .card .card_footer {
  position: relative;
}
.card_services .card .card_header .overlay, .card_services .card .card_footer .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008e8c;
  padding: 34px;
  text-align: center;
}
.card_services .card .card_header .overlay h5, .card_services .card .card_footer .overlay h5 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.card_services .card .card_footer .overlay {
  background-color: #fff;
  padding: 0;
  text-align: center;
  border-bottom: solid 3px #008e8c;
}
.card_services .card .card_footer .overlay a {
  border: none;
  border-radius: 0;
  width: 214px;
  padding: 0;
  height: 74px;
  padding-top: 28px;
}
.card_services .card .card_footer .card-body {
  padding: 27px 4px;
}
.card_services .card .card_footer .card-body .card-title {
  text-align: center;
  margin-bottom: 0;
}
.card_services .card:hover .card_header .overlay {
  opacity: 0.8;
}
.card_services .card:hover .card_footer .overlay {
  opacity: 1;
}
.card_services > h5 {
  margin-top: 25px;
  text-align: center;
}

.cards_valor .card {
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(226, 226, 226, 0.2);
  margin-bottom: 30px;
  height: 250px;
}
.cards_valor .card .card-body {
  padding: 28px;
}
.cards_valor .card img {
  height: 52px;
  width: auto;
  margin-bottom: 25px;
}

.cards_blog .card {
  overflow: hidden;
  margin-bottom: 30px;
}
.cards_blog .card > div:first-child:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: visible;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.cards_blog .card:hover > div:first-child:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.cards_blog .card .card-img {
  min-width: 100% !important;
  width: auto !important;
  border-radius: calc(.25rem - 1px);
  height: 300px;
}
.cards_blog .card .card-img-overlay {
  padding: 30px;
  bottom: 0;
  top: inherit;
}
.cards_blog .card .card_header .post-date {
  width: 70px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  text-shadow: none;
  border: 2px solid;
}
.cards_blog .card .card_header .post-date span {
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
}
.cards_blog .card .card_header .post-date .post-day {
  font-size: 30px;
  font-weight: 400;
}
.cards_blog .card .card_header .post-date .post-month {
  font-size: 20px;
}
.cards_blog .card .post-title {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding-left: 20px;
  color: #ffffff;
  line-height: 1.25em;
}
.cards_blog .card .post-title span {
  text-transform: uppercase;
}
.cards_blog .card .card-text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}

@media (min-width: 576px) {
  .card_services.card-group > .card {
    flex: none;
  }

  .card_mobile {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .cards_blog p {
    display: none !important;
  }

  .card_services {
    display: none;
  }

  .card_mobile {
    display: flex;
  }
  .card_mobile .card {
    width: 100%;
  }
  .card_mobile button {
    width: 100% !important;
  }
  .card_mobile [class*=card_header] {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
  }
  .card_mobile .card_header_prepaga {
    background-image: url(../images/home-medicina-prepaga.png);
  }
  .card_mobile .card_header_planes {
    background-image: url(../images/home-planes-medida.png);
  }
  .card_mobile .card_header_particulares {
    background-image: url(../images/home-particulares-corporativos.png);
  }
  .card_mobile .card_header_centros {
    background-image: url(../images/home-centros-urgencia.png);
  }
  .card_mobile .card_header_medico {
    background-image: url(../images/home-medico-online.png);
  }
}
form button {
  width: 100%;
  text-transform: none;
}
form button.btn {
  font-size: 20px;
}
form .form-control {
  height: 55px;
  border-radius: 0px;
  margin-bottom: 20px;
  border: none;
  background-color: #f1f1f1;
  padding-left: 20px;
}
form .form-control::-webkit-input-placeholder {
  /* Chrome */
  color: rgba(89, 89, 89, 0.7);
}
form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(89, 89, 89, 0.7);
}
form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(89, 89, 89, 0.7);
}
form .form-control:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: rgba(89, 89, 89, 0.7);
}
form .form-control:focus {
  background-color: #f1f1f1;
}
form select:invalid {
  color: rgba(89, 89, 89, 0.7);
}
form select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icons/flecha.svg);
  padding-right: 1.5em;
}
form p {
  font-weight: 400;
  color: rgba(89, 89, 89, 0.7);
  padding-left: 20px;
}
form textarea.form-control {
  padding: 18px 20px 20px 20px;
}

.nav-tabs {
  margin-top: -70px;
}
.nav-tabs .nav-link {
  font-size: 24px;
  font-weight: 300;
  padding: 16px 50px;
  border-radius: 10px 10px 0 0;
  background-color: #595959;
  color: #fff;
}
.nav-tabs .nav-link:hover {
  border-color: #595959;
}
.nav-tabs .nav-link.active {
  background-color: #fff;
  color: #595959;
}
.nav-tabs .nav-link.active:hover {
  border-color: #fff;
}

.tab-content {
  margin-top: 100px;
  text-align: center;
}
.tab-content h6 {
  margin-bottom: 45px;
  color: #008e8c;
}
.tab-content p {
  font-size: 19px;
  line-height: 1.5;
  color: #008e8c;
  margin-bottom: 5px;
}

@media (max-width: 575.98px) {
  .nav-tabs .nav-item {
    text-align: center;
  }

  .tab-content {
    margin-top: 50px;
  }
  .tab-content p {
    text-align: left;
  }
  .tab-content h6 {
    font-size: 40px;
  }
}
table {
  margin-top: 120px;
  border-top: 1px solid rgba(89, 89, 89, 0.5);
  color: #595959;
}
table.table {
  margin-bottom: 50px;
}
table.table td, table.table th {
  padding: 23px;
}
table.table thead th {
  font-size: 18px;
  font-weight: bold;
}
table.table tbody th, table.table tbody td {
  font-size: 12px;
  font-weight: 300;
  padding: 18px;
}

.pagination .page-item .page-link {
  color: #595959;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  background-color: #e2e2e2;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:active {
  background-color: #008e8c;
  color: #fff;
}

/*# sourceMappingURL=template.css.map */
